body {
    color: lightcyan;
    background-color: black;
    font-size: 3em;
}

table {
    font-size: 1em;
}

div#view-root {
    color: lightcyan;
    background-color: black;
    width: 100%;
}

article.card {
    color: lightcyan;
    background-color: black;
}

nav {
    color: lightcyan;
    background-color: black;
}

.font-size-08 {
    font-size: 0.8em;
}

input {
    color: lightcyan;
    background-color: black;
}

span.tag, label.tag {
    font-size: 0.8em;
}

img.faction-icon {
    height: 1.2em;
    float: right;
    right: 0.6em;
    width: auto !important;
}

div.sub-header {
    font-weight: 750;
}

div.search {
    margin-left: 0;
    width: 100%;
}

span.cost {
    float: right;
}

.category-tab {
    font-size: 0.8em;
    width: 25% !important;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.height-100 {
    height: 100%;
}

.mr {
    margin-right: 0.6em;
}

.mr-0 {
    margin-right: 0 !important;
}

article.article {
    margin: 0.1em;
}

.articles {
    height: 40em;
    overflow-y: auto;
}

footer.footer {
    height: 100%;
}

.m {
    padding: 0.6em 0.8em;
}

.p {
    padding: 0.6em 0.8em;
}

.top-30 {
    top: 3em;
}

.top-40 {
    top: 4em;
}

.border {
    border-radius: 0.2em;
    border: 1px solid #aaa;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
}

.width-15 {
    width: 10%;
}

td, th {
    padding: 0.3em;
}
